asgiref
blinker
certifi
click
colorama
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
filelock
Flask
Flask-Login
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
MouseInfo
packaging
pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
setuptools
SQLAlchemy
sqlparse
typing_extensions
tzdata
virtualenv
Werkzeug